force-app/main/default/flows/automate_lead_email_alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <constants>
        <description
    >Stores the value for the status of a step that&apos;s been approved. The value of the constant must be Approve.</description>
        <name>Approved</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </constants>
    <decisions>
        <description
    >Determines whether the approval step in the previous stage was approved. You can also update this element if you have more complex criteria to determine how the flow approval process proceeds. Lastly, update the label, API name, and description to reflect what this decision does.</description>
        <name
    >Was_Approval_Step_1_of_Approval_Stage_1_Approved_or_Rejected</name>
        <label
    >Was Approval Step 1 of Approval Stage 1 Approved or Rejected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Rejected (Default)</defaultConnectorLabel>
        <rules>
            <name>Is_Approved_Approval_Step_1_of_Approval_Stage_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Approval_Step_1_of_Approval_Stage_1.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Stage_2</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel
  >automate lead email alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>automate lead email alert</label>
    <orchestratedStages>
        <description
    >If your approval submission has approval work items that can be concurrently reviewed by different approvers, add more approval steps to this stage. If you have other processing to do, add background steps. Lastly, update the label, API name, and description to reflect what this stage does.</description>
        <name>Approval_Stage_1</name>
        <label>Approval Stage 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference
      >Was_Approval_Step_1_of_Approval_Stage_1_Approved_or_Rejected</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description
      >Select an approver to complete the step. If you have a custom screen flow to call for this approval step, for Action, remove Approvals Workflow: Evaluate Approval Requests, and select your custom screen flow.  Lastly, update the label, API name, and description to reflect what this step does.</description>
            <name>Approval_Step_1_of_Approval_Stage_1</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <stringValue>rakeshlaggala@gmail.com</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>Approval Step 1 of Approval Stage 1</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description
    >If your approval submission has approval work items that can be concurrently reviewed by different approvers, add more approval steps to this stage. If you have other processing to do, add background steps. Lastly, update the label, API name, and description to reflect what this stage does.</description>
        <name>Approval_Stage_2</name>
        <label>Approval Stage 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description
      >Select an approver to complete the step. If you have a custom screen flow to call for this approval step, for Action, remove Approvals Workflow: Evaluate Approval Requests, and select your custom screen flow.  Lastly, update the label, API name, and description to reflect what this step does.</description>
            <name>Approval_Step_1_of_Approval_Stage_2</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <stringValue>rakeshlaggala@gmail.com</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>Approval Step 1 of Approval Stage 2</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description
    >Contains the steps to run after the person who submitted an approval recalls their approval submission. The recall path stage runs after the in-progress stage and its related steps are canceled and the open approval work items are terminated. Add and configure one or more background steps to this stage and then update this description to reflect what this stage does.</description>
        <name>Recall_Path_Stage</name>
        <label>Recall Path Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>it_recall_the_path</name>
            <actionName>runtime_industries_recurrence__Schdlr</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <label>it recall the path</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>ApprovalWorkflow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Approval_Stage_1</targetReference>
        </connector>
        <scheduledPaths>
            <connector>
                <targetReference>Recall_Path_Stage</targetReference>
            </connector>
            <pathType>ApprovalRecall</pathType>
        </scheduledPaths>
    </start>
    <status>Draft</status>
    <variables>
        <description
    >Stores the ID of the record to be approved and is passed into the flow approval process. This is a required input variable.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description
    >Stores comments about the approval and is passed into the flow approval process. This is a required input variable.</description>
        <name>submissionComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description
    >Stores the ID of the user submitting the approval and is passed into the flow approval process. This is a required input variable.</description>
        <name>submitter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
